td, th {
    padding: 10px 5px;
}
.titleTxt {
    padding: 10px 5px;
}
.testM {
    margin: auto 0;
}
h1 {
    padding: 0.25em 0.5em;
    color: #494949;
    background: transparent;/*背景透明に*/
    border-left: solid 5px #7db4e6;
  }

  table {
    width:200px
    color: #696969;
    background: #ffffff;
  }

  table th{/*thに対して*/
    color: #c0c0c0;
    background: #ffffff;
  }

  a {
    color:#c0c0c0;
    }
    body {background:url(https://ferret.akamaized.net/images/58b66600fafbd8666a0001d1/original.jpg?1488348671) no-repeat center center fixed; background-size:cover;}

    .pager .paginate {
        text-align: center;
      }

      .pager .paginate li {
        display: inline;
        margin: 0 10px;
        padding: 0;
        display: inline-block;
        width: 15px;
        height: 15px;
        text-align: center;
        position: relative;
        border-radius: 10px;
      }


      .pager .paginate li a{
        vertical-align: middle;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        display:table;
        text-decoration: none;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all  0.3s ease;
      }

      .pager .paginate li a span{
        display:table-cell;
        vertical-align:middle;
      }

      .pager .paginate li a:hover,
      .pager .paginate li a.active{
        color: #fff;
        background: #c0c0c0;
      }

      @media only screen and (max-width: 767px){
        .pager .paginate li{
          display: none;
        }

        .pager .paginate li.pre,
        .pager .paginate li.next{
          display: inline-block;
          width: 50%;
          height: 50px;
          text-align: center;
        }

        .pager .paginate li.pre a,
        .pager .paginate li.next a{
          width: 100%;
          text-align: center;
        }

        .pager .paginate li.pre span::after{
          content: "　前の10件へ";
        }

        .pager .paginate li.next span::before{
          content: "次の10件へ　";
        }

      }

      .btn1 {
        background-color: #fff;
        border-color: #c0c0c0;
        color: #c0c0c0;
      }
      .btn1:hover {
        background-color: #fff;
        color: #4CADEF;
      }





      .btn2 {
        background-color: #fff;
        border-color: #c0c0c0;
        color: #c0c0c0;
      }
      .btn2:hover {
        background-color: #fff;
        border: 1px solid #c0c0c0;
        color: #F04E48;

      }
